<div class="header">
    <h1>About</h1>
    <h2>a Developer, Photographer, Traveller, Learner</h2>
</div>

<div class = "content">

			<div class="pure-g-r">

				<!--     <div ng-repeat="item in projects" class="pure-u-1-3">
				 -->    
				<div class="pure-u-1-3">
				<div class="one-grid">
				<img class = "about" src="img/about.jpg"/>

				</div>
				</div>
				<div class="pure-u-2-3">
				<div class="one-grid">
					<p>Hi there, this is Huiwen Duan, or Wen (sounds like "when") if you feel that's over complicated. Currently I am a master student at Helsinki University of Technology major in computer science. My main studies include cloud computing, mobility, web technologies, Internet services and security, etc.</p>
					<p>And YEAH, I am a woman in Tech. When I had my first computer at third grade, I thought about to have a job that works with computer in the future. Well, that comes true though, except that most of the office jobs also work with computers nowadays. </p>
					<p>sdaji</p>
					<p> 
					During my leisure time, I love traveling and capturing interesting people and stunning sceneries with my Nikon D90. Sometimes I do a little post-editing to best present the photos' original state. 
					</p>
					<a href="https://github.com/duanhuiwen" ><img class="icons" src="img/Github.png" title="Github" alt=""/></a>
					<a href="http://www.flickr.com/photos/huiwen-duan/" ><img class="icons" src="img/Flickr.png" title ="Flickr" /></a>
					<a href="http://fi.linkedin.com/in/huiwenduan/" ><img class="icons" src="img/Linkedin.png" title="Linkedin" /></a>
					<a href="mailto:huiwen.duan@gmail.com" ><img class="icons" src="img/Email.png" title="Mail Me" /></a>
				</div>
				

				</div>


			 </div>

</div>