<div class="title">
    <h1>Rovio Data analysis and visualization System</h1>

    <p class="right">2013.10 - 2014.5 | Espoo, Finland</p>


</div>

		
<div class="projectDetails">
<p class="keywords">
	Key words: Java, AngularJS, Highcharts, RIAK, Linux, Cloud Computing, Data Visualization.

</p>
<img src="./img/projects/10/3d.png" width="200px" align="left" hspace="20"></img>
					<p>
						Rovio has 250 Million monthly users and therefore 
Cloud Services must undergo extensive performance 
testing. For Rovio, such services include gamer logins, 
saved sessions, video feeds, advertisements, web visitors, 
online shopping and many more. </p>

<p>There is a dedicated performance testing system and a 
test cluster to simulate heavy user loads against Cloud 
Services. Performance testing data is collected from testing Clusters and moved to 
central place for analysis. This data is real performance data of Rovio Services. The 
analysis of the results could be much streamlined and improved to help us to identify 
the performance bottlenecks of Rovio Services. Visualization of the data is also part 
of this project.
					</p>
					
<br>

<p><b>Project goals:</b></p>
<p>The project goal is an independent data analysis system and visualization service. 
The service enables software developers, test engineers and other users to: </p>
<ul>
<li>Visualise the essential metrics of performance tests. </li>
<li>Compare the results to previous results, e.g. in order to determine whether the 
performance of an application degraded when a new feature was added. </li>
<li> Identify bottleneck components in Rovio Services </li>
<li>Helps Rovio to improve the performance of the Production Environment </li>
</ul>
<p>
The system is extendable and Rovio could continue developing it 
further.
</p>





<p><b>
	
	Tools and technology:

</b></p>

<p>A cloud server environment, a distributed database, a set of APIs and the input data 
format will be provided by Rovio. In this project, I was mainly responsible for front-end development.

The service used: <p>
<ul>
<li> Java SE 7 in backend. </li>
<li>Accept JSON input from cluster test nodes.  </li>
<li> Save the analysed data in a permanent storage (RIAK).  </li>
<li> AngularJS and highcharts for front end real time monitoring. </li>
<li>Run on a default server installation of Ubuntu Linux 12.04.</li>

 
</ul>

<p><b>
	
	Results:

</b></p>
<p>Our project won the second place in Accenture Quality Award 2014.</p>
<p>Due to confidential agreement, the final product will not be demonstrated.</p>
<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="img-wrap">
				<img src="./img/projects/10/dashboard.png"></img>
				<p>Project dashboard</p>
			</div>

			<div class="img-wrap">
				<img src="./img/projects/10/testSuiteOverview.png"></img>
				<p>Test suite overview</p>
			</div>


			<div class="img-wrap">
				<img src="./img/projects/10/testSuiteComp.png"></img>
				<p>Test suites comparison</p>
			</div>



			<div class="img-wrap">
				<img src="./img/projects/10/testClassComp.png"></img>
				<p>Test classes comparison</p>
			</div>
		</div>
</div>
</div>