<div class="title">
    <h1>Kamazon Online Book Store</h1>

    <p class="right">2011.3 - 2011.5 | Espoo, Finland</p>
</div>

<p>The Kamazon online bookstore structure is fairly similar to other online webstores. Indeed, it has a login interface which checks the credentials (Username and Password) of the registered users whether they are administrators or customers. This step is necessary for purchasing, but anyone can browse the contents of the website without any registering or login needed.  After validating and accepting the credentials, the customer is lead directly to the main homepage where he/she can browse for books. When clicking on a product icon, the user can view the title of the book, ISBN, Year of publication, Price and a short review. After that the customer can add the desired item to his shopping cart and proceed to payment. After the payment is validated the product is delivered to the customer. An administrator in the other hand can add new books and delete entries, validate the registration of new customers.</p>


<p><b>Project goals:</b></p>
<p>The goal of the project is to create an online bookstore that has all the major functionalities as other online shops. Figure 1 shows the use cases.</p>

<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="img-wrap">
				<img src="./img/projects/2/1.png"></img>
				<p>Figure 1. use cases</p>
			</div>
		</div>
</div>
<p><b>
	
	Tools and technology:

</b></p>
<ul>
<li>PHP & MySQL on server side.</li>
</ul>
<p><b>Project results:</b></p>

<p>The project was done on a test server, now the server is no long accessible. Here are some screenshots of the project:</p>


<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="img-wrap">
				<img src="./img/projects/2/kamazon.png"></img>
				<p>Figure 2. Landing page</p>
				</br>
				<img src="./img/projects/2/3.png"></img>
				<p>Figure 3. Book category page</p>
				</br>
				<img src="./img/projects/2/2.png"></img>
				<p>Figure 4. Register page</p>
				</br>
			</div>
		</div>
</div>

