<div class="title">
    <h1>4Homework</h1>

    <p class="right">2012.9 - 2012.12 | Espoo, Finland</p>
</div>
<p class="keywords">Key words: Android, Education, PHP & MySQL</p>
<p>This app helps student remember their homework, the student on duty (for example sharing the homework with classmates for one week) will learn responsibility. </p>


<p><b>Project goals:</b></p>
<ul>
	<li>Mobile Client:
		<ul>
			<li>List of the upcoming homework.</li>
			<li>Clicking on the homework item will slides to detail view.</li>
			<li>Student will be able to set the class ID and server address.</li>
			<li>Every newly added homework will be pushed to mobile client.</li>
		</ul>

	</li>

	<li>Web Client:
		<ul>
			<li>Login required on admin page.</li>
			<li>List all recent homeworks assigned based on the class ID.</li>
			<li>Add/delete/modify homework.</li>
			
		</ul>

	</li>


</ul>

<p><b>Results:</b></p>
<p>Please check our source code <a href="https://github.com/duanhuiwen/4Homework">here</a></p>
