<div class="title">
    <h1>Contextual Activity Sampling System</h1>

    <p class="right">2013.5 - 2013.9 | Espoo, Finland</p>
</div>



<div class="projectDetails">
<p class="keywords">
	Key words: PHP, MySQL, data visualization, Mobile applications, Amazon EC2

</p>
<p>
The Contextual Activity Sampling System (CASS) research methodology and the 
CASS-Query application have been developed for contextually tracking of activities with a 
mobile phone. The method relies on frequent sampling of participants’ practices and affects 
during periods of intensive follow-up. The aims of the present research and development work are to provide a process-sensitive 
and contextual methodology for studying knowledge practices with a mobile tool. These 
compose the Contextual Activity Sampling System, CASS. The CASS enables one to 
investigate participants’ on-going activities with frequent sampling during periods of data 
collection. The accumulating data can be used to examine individual, collaborative, and 
object-oriented aspects of activities. 

</p>


<p><b>
	Architecture:

</b></p>
<p>In this project, I was participated as server side programmer, server adminstration and maintenance on Amazon EC2. Also I was responsible for providing API support to mobile client developers. On the server side we used PHP & MySQL with MVC model and mobile client side we have the app running on Android platform and Windows platform.</p>


	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="img-wrap">
				<img class = "detail" src="./img/projects/5/1.png"></img>
				<p>Figure 1. System architecture</p>
				<img class = "detail" src="./img/projects/5/2.png"></img>
				<p>Figure 2. Database ER-model</p>
			</div>
		</div>
	</div>

<!-- <ul>
<li>PHP & MySQL</li>
<li></li>
<li></li>
</ul> -->
<p><b>
	
	Results:

</b></p>
<p>Detail can be found <a href="https://docs.google.com/document/d/1ydCwv7sM_1muJWKqzq39upWZ-05Bv9iehEy-8_yauuE/edit?usp=sharing">here</a></p>

<p><b>
	
	Other:

</b></p>
<p>This project is open-sourced, server side code can be found <a href="https://github.com/duanhuiwen/CASS">here</a>.</p>

<p><b>
	
	References:

</b></p>
	<ol>
	<li>CASS-methods and tools for investigating higher education 
knowledge practices [<a href="http://www.fi.uu.nl/en/icls2008/390/paper390.pdf">link</a>]</li>
	<li>Windows Phone Application Development for 
the Contextual Activity Sampling System [<a href="http://www.theseus.fi/bitstream/handle/10024/70291/Windows%20Phone%20CASS.pdf?sequence=1">link</a>]</li>
	</ol>



</div>