<div class="title">
    <h1>Smart Space for Personal Guidance</h1>
    <p class="right"> 2013.3 - 2013.4 | Espoo, Finland</p>
</div>

		
<div class="projectDetails">
<p class="keywords">
	Key words: indoor navigation

</p>

					<p>
						Spagu project studies indoor navigation technologies and solutions for the museum environment. The aim 
is to study the hardware and application-level techniques for users to monitor and guide, as well as a better understanding of users' spatial perception. Indoor navigation is based on the user's identifier(tag), the user's routes will be sent to remote server for further analysis. </p>


					
<br>

<p><b>Project goals:</b></p>

<ul>
<li>Examine the Youtube CDN from 4-5 different locations: university,
home and three Amazon EC2 instances (Ireland, Singapore, California). For each geographical location, you will identify the content
servers IP address corresponding to a certain number of predifined Youtube links (20).</li>

<li>Upload videos from different locations, observe how a new content gets populated
over the CDN</li>

</ul>

</p>





<p><b>
	
	Tools and technology:

</b></p>


<ul>
<li>Pytomo for crawling the destination IP information. </li>
<li>Amazon EC2.</li>

 
</ul>

<p><b>
	
	Results:

</b></p>
Please check our <a href="img/projects/8/report.pdf">paper</a>.
</div>