<div class="title">
    <h1>Smart Space for Personal Guidance</h1>
    <p class="right"> 2013.3 - 2013.4 | Espoo, Finland</p>
</div>

		
<div class="projectDetails">
<p class="keywords">
	Key words: indoor navigation

</p>

					<p>
						Spagu project studies indoor navigation technologies and solutions for the museum environment. The aim 
is to study the hardware and application-level techniques for users to monitor and guide, as well as a better understanding of users' spatial perception. Indoor navigation is based on the user's identifier(tag), the user's routes will be sent to remote server for further analysis. </p>


					
<br>

<p><b>Project goals:</b></p>
<p>
The target of this project is to develop a wireless indoor tracking and guidance system, where a person or a car carries only a simple tag and the guidance is given with different lights or displays in the surrounding space. In the project we use 2 different wireless locating systems, one is based on BT Low Energy and the other is based on dash7 active RFID tag. Plans for piloting the system are visitors in a museum and cars in a parking garage.


</p>






<p><b>
	
	Results:

</b></p>
	<div class="pure-g-r">
		<div class="pure-u-1">
		<p>The result is a tracking and guidance pilot system in WeeGee museums. We will get researched knowledge about the user experience of personal guidance solutions, in terms of what are users’ needs for personal guidance, what kind of solutions are most pleasant and efficient, and how people walk around in unknown environments.
</p>
			<img src="./img/projects/7/1.png"></img>
			<p>Heat Map Visualization of female visitors</p>
			<img src="./img/projects/7/2.png"></img>
			<p>Individual visit to the museum route visualization Weegee center on the 2nd floor</p>
			<p>Please check <a href="http://spagu.metropolia.fi/">Here</a> for more details.</p>

		</div>
	</div>
</div>